body {
	width: 80%;
	margin: auto; 
	border: 1px solid black;
	text-align: justify;
	font-family: 'Simonetta',cursive;
}
hr {
	color: #f5dd42;
	max-width: 600px;
}
img {
	border-radius: 50% 50% 50% 50%;
	width:100px;
	height: auto;
}

.container {
	display: flex;
	background: #fff;
	
}
.side {
	width: 350px;
	margin-right: 100px;
	text-align: center;
	background: #ffcc11;
	
}
.side i {
	border: 1px solid black;
	padding: 5px;
	border-radius: 50% 50% 50% 50%;
}
aside h2 {
	background: #a1a1a1;
	padding: 5px;
	text-transform: uppercase;
}

.article-header {
	margin-bottom: 100px;
	text-align: center;
}
.article-header h1 {
	text-transform: uppercase;
	font-size: 2em;
	margin:0;
}
.steps {

	text-align:left;
}
h2 {
	text-transform: uppercase;
	font-size: 1.5em;
}	

.nom{
	color:#ffde7d;
	margin:0;
}
.souligne{
	text-decoration:underline;
	text-decoration-color:#ffcc99;
}
.date1{
	font-weight:bold;
	padding:5px;
	color: black;
}
 .item{
 	width:70%;
	display:inline-flex;
	text-align: justify;
	color:black;
}

ul {
	list-style-type: circle;
}
li {
	color:#ffde7d;
}
ul li {
	display: flex;
    	justify-content: space-around;
    	align-items: center;	
}
ul li::before{
	content:"o";
	font-size:0.9em;
}
.recommandation {
	    margin-left: 4em;
}
@media screen and (max-width: 800px)
{
	ul li::before{
	content:" ";
	}	
	
}

@media screen and (max-width: 600px)
{
	body{
		width:auto;
		overflow-x:hidden;
	}
	.container{
		flex-direction:column;
	}

	.side {
		width:100%;
		order: 3;
	}
	ul li::before{
		content:" ";	
	
}

	.section {
		width: 100%;
		margin: auto;
			
	}
	
	
}
