body {
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black;
	text-align: justify;
	font-family: 'Simonetta',cursive;
}
hr {
	color: #f5dd42;
	max-width: 600px;
}
img {
	border-radius: 50% 50% 50% 50%;
	width:100px;
	height: auto;
}

.container {
	display: flex;
	background: #fff;
	
}
.sidebar {
	width: 350px;
	margin-right: 100px;
	text-align: center;
	background: #ffcc11;
	
	
}
.sidebar p {
	line-height: 10px;
}
.sidebar i {
	border: 1px solid black;
	padding: 3px;
	border-radius: 50% 50% 50% 50%;
}
.sidebar h2 {
	background: #a1a1a1;
	padding: 3px;
	text-transform: uppercase;
}

.section-header {
	margin-bottom: 15px;
	text-align: center;
}
.section-header h1 {
	text-transform: uppercase;
	font-size: 1.3em;
	margin:0;
}
.steps {

	text-align:left;
}
h2 {
	text-transform: uppercase;
	font-size: 1.1em;
}	

p{
    line-height: 10px;
    margin: 5px;
}

.nom{
	color:#ffde7d;
	margin:0;
}
.souligne{
	text-decoration:underline;
	text-decoration-color:#ffcc99;
}
.date1{
	font-weight:bold;
	padding: 2px;
	color: black;
   
}
 .item{
 	width:70%;
	/*display:inline-flex;*/
	text-align: justify;
	color:black;
    
    
}

ul {
	list-style-type: circle;
}
li {
	color:#ffde7d;
}
ul li {
	display: flex;
    	justify-content: space-evenly;
    	align-items: center;
	
        	
}
ul li::before{
	content:"o";
	font-size:0.7em;
}
.recommandation {
	    margin-left: 4em;
}
@media screen and (max-width: 800px)
{
	ul li::before{
	content:" ";
	}	
	
}

@media screen and (max-width: 600px)
{
	body{
		width:auto;
		overflow-x:hidden;
	}
	.container{
		flex-direction:column;
		padding: 0 5px;
	}

	.sidebar {
		width:100%;	
		order: 2;
	}
	aside h2 {
	margin: 0;
	font-size: 1.1em;
	}
	.steps header {
		width: 100%;
		margin: auto;
		margin-bottom: 80px;
	}
	ul li::before{
		content:" ";	
	
}
		
}

